@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');

.Tilt {
    margin: 0;
    font-family: 'Sono', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to right, rgb(89, 140, 233),rgb(242, 207, 251));
}

.h1{
    font-size: 1rem;
}